/* for block of numbers */
.hljs-ln-numbers {
  text-align: center;
  color: rgb(88, 88, 88);
  vertical-align: top;
  /* padding-right: 10px; */
}

.hljs-ln td {
  padding-right: 5px;
}

/* for block of code */
.hljs-ln-code {
  padding-left: 10px;
}
