/* for block of numbers */
.hljs-ln-numbers {
    text-align: center;
    color: #505050;
    border-right: 10px;
    vertical-align: top;
    padding-right: 10px;

}

/* for block of code */
.hljs-ln-code {
    padding-left: 10px;
}